API_KEYS:
  Fred: "your_api_key"

symbol_size:
  total: 6000

articles:
  size: 10
  retry: 50

save_method:
  save_to_file: true
  save_to_DB: true

database:
  url: mysql+pymysql://username:password@url:port/db_name

color_log: true

is_test:
  toggle: true
  interval: 10

crawler_switch:
  news: true
  reports: true
  financial: true
  stock: true
