# API 키 설정
API_KEYS:
  Fred: "API_KEY"

# 크롤링 관련 설정
symbol_size:
  total: 100

articles:
  size: 10
  retry: 100

# 저장 방식 설정
save_method:
  save_to_file: false
  save_to_DB: true

# 데이터베이스 설정
database:
  url: mysql+pymysql://username:password@databaseURL/your_database

# 로깅 설정
color_log: true
print_error_log: false

# 테스트 모드 설정
is_test:
  toggle: true
  interval: 100

# 크롤러 스위치 설정
crawler_switch:
  news: true
  reports: true
  financial: true
  stock: true

notifier_interval: 600

run_condition:
  crawler: true
  notifier: true
